* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .cookieConsentContainer {z-index:999;width:350px;min-height:20px;box-sizing:border-box;padding:30px 30px 30px 30px;background:#232323;overflow:hidden;position:fixed;bottom:30px;right:30px;display:none}.cookieConsentContainer .cookieTitle a{font-family:OpenSans,arial,sans-serif;color:#fff;font-size:22px;line-height:20px;display:block}.cookieConsentContainer .cookieDesc p{margin:0;padding:0;font-family:OpenSans,arial,sans-serif;color:#fff;font-size:13px;line-height:20px;display:block;margin-top:10px}.cookieConsentContainer .cookieDesc a{font-family:OpenSans,arial,sans-serif;color:#fff;text-decoration:underline}.cookieConsentContainer .cookieButton a{display:inline-block;font-family:OpenSans,arial,sans-serif;color:#fff;font-size:14px;font-weight:700;margin-top:14px;background:#000;box-sizing:border-box;padding:15px 24px;text-align:center;transition:background .3s}.cookieConsentContainer .cookieButton a:hover{cursor:pointer;background:#3e9b67}@media (max-width:980px){.cookieConsentContainer{bottom:0!important;left:0!important;width:100%!important}}
 */

:root {
  --primary: hsl(0, 100%, 95%);
  --gray: #2f3337;
  --gray-light: rgb(192, 180, 180);
  --white-f: #f5f5f5;
  --main: #ca2b2b;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--gray);

  line-height: 150%;

  overflow: overlay;

  background-color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
  line-height: 130%;
}

h2 {
  font-size: 3rem;
  line-height: 150%;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;

  text-transform: uppercase;
  color: var(--main);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100vh;
}

section {
  padding-bottom: 6rem;
}

section header {
  text-align: center;
}

.cards header {
  gap: 1rem;
  text-align: center;
}

.card {
  margin-bottom: 2.4rem;
  border: 1px solid var(--white-f);
  border-radius: 0.5rem;

  box-shadow: 0.03rem 0.03rem var(--gray-light);
}

.card img {
  width: 37.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card p {
  margin-bottom: 2.4rem;

  text-align: justify;
}

.content header {
  padding-block: 2.4rem;
}

.content .card {
  padding-block: 2.4rem;
  padding-inline: 2rem;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content .card header {
  display: flex;
  align-items: center;
}

.content .card a {
  font-size: 1.2rem;
  font-weight: bold;

  color: var(--main);

  text-transform: uppercase;
}

.wrapper {
  width: min(37.5rem, 100%);
  padding-inline: 2.4rem;
  margin-inline: auto;
}

nav#navigation .menu {
  display: flex;
  justify-content: space-between;

  height: var(--nav-height);

  background-color: var(--white-f);
  padding-inline: 2.4rem;
  margin-block: auto;
}

.logo img {
  margin-top: 0.5rem;
  width: 50%;
}

nav#navigation .menu button {
  border: none;
  background-color: var(--white-f);
}

/*---------- HOME SECTION ----------*/

/*
#home {
  position: relative;

   background-size: 102.4rem;
  height: 35%;
  
  
  height: 60rem;

  background-image: url(/assets/img/home_banner.png);
}
*/

/* Logo center slide
#home {
  position: relative;
}

#home .logo {
  width: 20%;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  
  z-index: 1;
  
 }
 */


/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */

.read-more {
  display: none;
}

.btn-readmore {
  border: none;
  background: none;

  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main);
}

#home .content .card {
  color: var(--white-f);
  background-color: var(--gray);
}

#home .content-card a {
  font-size: 1.2rem;
  font-weight: 600;

  text-transform: uppercase;
  color: var(--white-f);
}

/*---------- VALORES SECTION ----------*/

/* #valores .content header p {
  margin-bottom: 18rem;
} */

/*---------- OBRAS SECTION ----------*/

#obras {
  background-color: white;
}

#obras img {
  width: 102.4rem;

  margin-inline: auto;
  display: block;
  object-position: 0 2rem 0.5rem;
}

/*---------- CLIENTES SECTION ----------*/

#clientes header {
  margin-bottom: 2.4rem;
}

/*---------- FOOTER ----------*/
footer {
  color: var(--gray);
  font-size: 1.4rem;
  background-color: var(--white-f);

  padding: 2.4rem;
}

footer svg * {
  fill: #2f3337;
}

footer header {
  display: flex;
  gap: 1rem;
  
  align-items: center;
}

footer h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
}

footer p {
  margin-block: 1.6rem;
}

footer .info ul {
  margin-block: 1.6rem;
}

footer .contato ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#cookiePopup {
  background-color: var(--white-f);
  position: absolute;
  font-size: 1.4rem;
  width: 70vw;
  max-width: 42.85rem;
  box-shadow: 0 0 2rem rgba(5, 0, 31, 0.15);
  text-align: justify;
  line-height: 150%;
  padding: 2rem 1.4rem;
  border-radius: 0.6rem;
  transition: all 0.5s ease-in;
}

#cookiePopup img {
  display: block;
  width: 3.75rem;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4rem 0;
}

#cookiePopup button {
  background-color: var(--main);
  border: none;
  color: var(--white-f);
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 0.5rem;
}

#cookiePopup a {
  color: var(--main);
}

.hide {
  visibility: hidden;
  bottom: 0;
  right: 2rem;
}

.show {
  visibility: visible;
  bottom: 2rem;
  right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2rem;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}