* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(0, 100%, 95%);
  --gray: #2f3337;
  --gray-light: rgb(192, 180, 180);
  --white-f: #f5f5f5;
  --main: #ca2b2b;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html,
body {
  width: 100vw;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--gray);

  line-height: 150%;

  overflow: overlay;

  background-color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
  line-height: 130%;
}

h2 {
  font-size: 3rem;
  line-height: 150%;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;

  text-transform: uppercase;
  color: var(--main);
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100vh;
}

section {
  padding-block: 10rem;
}

section header {
  text-align: center;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.cards header {
  gap: 1rem;
  text-align: center;
}

.card {
  margin-bottom: 2.4rem;
  border: 1px solid var(--white-f);
  border-radius: 0.5rem;

  box-shadow: 0.03rem 0.03rem var(--gray-light);
}

.card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card p {
  margin-bottom: 2.4rem;
}

.content header {
  padding-block: 2.4rem;
}

.content .card {
  padding-block: 2.4rem;
  padding-inline: 2rem;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content .card header {
  display: flex;
  align-items: center;
}

.content .card a {
  font-size: 1.2rem;
  font-weight: bold;

  color: var(--main);

  text-transform: uppercase;
}

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  margin-top: 0rem;
  width: 12%;
}

nav.scroll {
  background-color: var(--white-f);
}

nav.scroll button path {
  stroke: var(--main);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

nav#navigation.scroll nav {
  background-color: var(--main);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--main);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}
/* Only first ul on menu */
.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--white-f);
  border-radius: 4rem;

  color: var(--brand-green);

  display: flex;
  margin-inline: auto;
  width: fit-content;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--main);
  color: var(--white-f);

  filter: brightness(1.2);
}

body.menu-expanded .logo {
  display: none;
}

body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*---------- HOME SECTION ----------*/

#home {
  padding-block: 0;
  /*padding-top: calc(4.1rem + var(--nav-height));*/
  padding-top: calc(4.1rem + var(--nav-height));
}

.read-more {
  display: none;
}

.btn-readmore {
  border: none;
  background: none;

  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main);
}

#home .content .card {
  color: var(--white-f);
  background-color: var(--gray);
}

#home .content-card a {
  font-size: 1.2rem;
  font-weight: 600;

  text-transform: uppercase;
  color: var(--white-f);
}

#obras {
  background-color: white;
}

#obras img {
  width: 102.4rem;

  margin-inline: auto;
  display: block;
  object-position: 0 2rem 0.5rem;
}

/*---------- CLIENTES SECTION ----------*/

#clientes header {
  margin-bottom: 2.4rem;
}

#clientes ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.2rem;
}

/*---------- FOOTER ----------*/
footer {
  color: var(--gray);
  font-size: 1.4rem;
  background-color: var(--white-f);

  padding: 2.4rem;
}

footer svg * {
  fill: #2f3337;
}

footer header {
  display: flex;
  gap: 1rem;

  align-items: center;
}

footer h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
}

footer p {
  margin-block: 1.6rem;
}

footer .info ul {
  margin-block: 1.6rem;
}

footer .contato ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* BACK TO TOP BUTTON*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* POPUP PRIVACY POLICY*/

#cookiePopup {
  background-color: var(--white-f);
  position: absolute;
  font-size: 1.4rem;
  width: 70vw;
  max-width: 42.85rem;
  box-shadow: 0 0 2rem rgba(5, 0, 31, 0.15);
  text-align: justify;
  line-height: 150%;
  padding: 2rem 1.4rem;
  border-radius: 0.6rem;
  transition: all 0.5s ease-in;
}

#cookiePopup img {
  display: block;
  width: 3.75rem;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4rem 0;
}

#cookiePopup button {
  background-color: var(--main);
  border: none;
  color: var(--white-f);
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 0.5rem;
}

#cookiePopup a {
  color: var(--main);
}

.hide {
  visibility: hidden;
  bottom: 0;
  right: 2rem;
}

.show {
  visibility: visible;
  bottom: 2rem;
  right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2rem;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}

/* Layout to 1024px resolution*/
@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
    justify-content: center;
  }

  /*reset*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation {
    height: calc(4.1rem + var(--nav-height));
  }

  nav#navigation .logo img {
    width: 50%;
    margin-left: 2.4rem;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--main);
    opacity: 0.7;
  }

  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--main);
    border-radius: 4rem;
    
    color: var(--main);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--main);
    border: none;

    color: var(--white-f);
  }

  #home .carousel-inner {
    width: 100%;
    
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
  }

  #clientes ul {
    display: flex;
    flex-direction: row;

    gap: 2.4rem;
    justify-content: center;
  }

  footer {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: 25% 25% 40%;
    
  }
  
  footer iframe {
    width: 100%;
    height: 30rem;
    margin-top: 2.4rem;
  }
  
}


